<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <header>
        <p>Plagiarism Checker</p>
    </header>
    <main>
        <div class="container1">
            <form class="container1_forms">
                <div class="container1_inputs">
                    <div class="container_left">
                        <textarea name="input1" id="" cols="70" rows="8"></textarea>
                    </div>
                    <div class="container_right">
                        <textarea name="input2" id="" cols="70" rows="8"></textarea>
                    </div>
                </div>
                <input type="button" value="Compare" class="btn_container1">
            </form>
        </div>
    </main>
    <footer>
    
    </footer>
</body>
</html>