<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <header>
        <p>Plagiarism Checker</p>
    </header>
    <main>
        <div class="container1">
            <div class="container1_porcentaje">
                <p><span>100%</span> de similitud </p>
                <p>Texto1: {{ texto1 }}</p>
                <p>Texto2: {{ texto2 }}</p>
            </div>
            <form action="/plagiarism-checker" method="POST" class="container1_forms">
                <div class="container1_inputs">
                    <div class="container_left">
                        <textarea name="text1" id="" cols="70" rows="8" placeholder="Introduce un texto" value="{{ texto1 }}"></textarea>
                    </div>
                    <div class="container_right">
                        <textarea name="text2" id="" cols="70" rows="8" placeholder="Introduce un texto" value="{{ texto2 }}"></textarea>
                    </div>
                </div>
                <input type="submit" value="Compare" class="btn_container1">
                <a href="" class="btn2_container2">Clear</a>
            </form>
        </div>
    </main>
    <footer>
    
    </footer>
</body>
</html>